[project]
	description = Embedded Programming Framework in Go
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Karan Misra (kidoman)
[access "refs/for/refs/*"]
	read = group user/Karan Misra (kidoman)
	push = group user/Karan Misra (kidoman)
	label-Code-Review = -2..+2 group user/Karan Misra (kidoman)
	label-Verified = -1..+1 group user/Karan Misra (kidoman)
	rebase = group user/Karan Misra (kidoman)
	removeReviewer = group user/Karan Misra (kidoman)
	submit = group user/Karan Misra (kidoman)
[access "refs/heads/*"]
	read = group user/Karan Misra (kidoman)
	create = group user/Karan Misra (kidoman)
	push = +force group user/Karan Misra (kidoman)
	pushMerge = group user/Karan Misra (kidoman)
[access "refs/tags/*"]
	push = +force group user/Karan Misra (kidoman)
	pushTag = group user/Karan Misra (kidoman)
	pushSignedTag = group user/Karan Misra (kidoman)
